
<div class="hero" style="background: no-repeat center/cover url('/assets/{{hero_img}}.png') ">
    
    
    <div></div>
    <h1 class="hero_big_text">
        {%- for i in hero_text -%}
            {% if hero_text[loop.index0] == hero_text_highlight %}
                <span class='accent'>{{ hero_text[loop.index0]}} </span>

            {% elif hero_text[loop.index0] == hero_text_break %}
                <span>{{ hero_text[loop.index0]}} <br> </span>
            {% else %}
                <span>{{ hero_text[loop.index0]}} </span>
            

            {% endif %}
        
        {%- endfor %}
    </h1>
    <section>
        <button class="btn-hero">Products</button>
        <button class="btn-hero">Services</button>
    </section>
</div>