---
layout: 'base.njk'
j: ['1', '2', '3']
modals: ['modal1', 'modal2', 'modal3']
---

<section class='individual_hero'>

    <img src="/assets/{{img}}" alt="">
   

    <p>
        {{title}}
    </p>
</section>

<div class='productCardCont'>

    {%- for i in productCardsImg -%}

        {% include "modalProducts.njk" %}

    {%- endfor %}

</div>


{%- for i in productCardsImg -%}

    {% include "modal.njk" %}

{%- endfor %}



  <h1 class="h1 slider_h1">Our Brands</h1>
<div class="slider_main_cont">

  

    {% include "slider.njk" %}

</div>

