<dialog id='{{modals[loop.index0]}}'>

    <div class="img">
        <img src="/assets/productCards/{{productCardsImg[loop.index0]}}.png" alt="">
    </div>

    <div class="text">
        <p class="title">{{product[loop.index0]}}</p>
        <p class="desc">
            {{modalDesc[loop.index0]}}
        </p>
        <p class="price">{{price[loop.index0]}}</p>
    </div>

    <div class="close" id='{{modals[loop.index0]}}Close'><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
</svg>
</div>
</dialog>