<div class="productCard">
    <img src="/assets/productCards/{{productCardsImg[loop.index0]}}.png" alt="">
    <div class="details">
        <h4>{{product[loop.index0]}}</h4>
        <p>{{productDesc[loop.index0]}}</p>
        <button class="btn" id="{{j[loop.index0]}}">More Info</button>
    </div>
</div>