
<nav>
    <div>
        <img src="/assets/logo.png" alt="">
    </div>
    <ul>
        {%- for i in nav_options -%}
            <li><a href="/">{{ nav_options[loop.index0] }}</a></li>
        {%- endfor %}
       
    </ul>


<button>
    <div class="ham"></div>
    <div class="ham"></div>
    <div class="ham"></div>
</button>

</nav>


