
<nav id='nav'>
    <div>
        <img src="/assets/logo.png" alt="">
    </div>
    <ul>
        {%- for i in nav_options -%}
            {% if nav_options[loop.index0] == 'Home' %}
                <li><a href="../">{{ nav_options[loop.index0] }}</a></li>
            {% else %}
                <li><a href="/{{nav_options[loop.index0]}}">{{ nav_options[loop.index0] }}</a></li>
            {% endif %}
        {%- endfor %}
       
    </ul>


    <button onclick='nav()'>
        <div class="ham"></div>
        <div class="ham"></div>
        <div class="ham"></div>
    </button>

</nav>

<script>
    let navBar = document.getElementById('nav')
    const nav = () => {
        navBar.classList.toggle('nav_open')
    }

</script>


