<div class="productCard">
    <img src="/assets/printers/printer1.png" alt="">
    <div class="details">
        <h4>Printer</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, vel.</p>
        <button class="btn">Button</button>
    </div>
</div>

