<div class="productCard">
    <img src="/assets/productCards/{{productCardsImg[loop.index0]}}.png" alt="">
    <div class="details">
        <h4>{{product[loop.index0]}}</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, vel.</p>
        <button class="btn"><a href="{{product[loop.index0]}}" >More Info</a></button>
    </div>
</div>

