<div class='slider_cont'>

    <h1 class="h1">Our Brands</h1>
    <div class="sliderHolder">
        {%- for i in slider_rows -%} 

            <div class="slider">

                {%- for j in slider -%} 

                    <img src="/assets/slider/{{slider[loop.index0]}}.png" alt="">

                {%- endfor %}

            </div>

        {%- endfor %}
        
    </div>

</div>
