<h1 class="h1">Our Brands</h1>
<div class="sliderHolder"> 
    <div class="slider">
        <img src="/assets/slider/acer.png" alt="">
        <img src="/assets/slider/dell.png" alt="">
        <img src="/assets/slider/cannon.png" alt="">
        <img src="/assets/slider/asus.png" alt="">
        <img src="/assets/slider/lenovo.png" alt="">
    </div>
    <div class="slider">
        <img src="/assets/slider/acer.png" alt="">
        <img src="/assets/slider/dell.png" alt="">
        <img src="/assets/slider/cannon.png" alt="">
        <img src="/assets/slider/asus.png" alt="">
        <img src="/assets/slider/lenovo.png" alt="">
    </div>
</div>