*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Barlow;
    scroll-padding-top: 15vh;
    scroll-behavior: smooth;
}

:root {
    --accent:#000000;
    --accentLight:#000000;
    --seaBlue: #21419B;
}


@font-face {
    font-family: Barlow;
    font-display: swap;
    src: url(/assets/Barlow/Barlow-Regular.ttf);
}

a{
   color: inherit;
   text-decoration: none;
}

.h1 {
    text-align: center;
    margin: 50px 0px 25px 0px;
    font-weight: bolder;
    font-size: 2.5rem;
}

body{
    background: var(--accentLight);
    width: 100vw;
    overflow-x: hidden;
}

/* ---------------- Custom scrollbar  ------------------- */

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0,0.25);
}

::-webkit-scrollbar-thumb {
    background: var(--accentLight);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
}

/* ---------------- Global Buttons  ------------------- */

.btn {
    padding: 5px 10px;
    border-radius: 4px;
   border: 2px solid var(--accent);
   transition: all .3s ease;
   cursor: pointer;
   font-size: 1rem;
   background-color: transparent;
   
}

.btn:hover {
   color: white;
   background-color: var(--accent);
} 

.btn-hero {
    padding: 10px 20px;
    border-radius: 4px;
    background-color: var(--accent);
    border: none;
    color: white;
    font-size: 1.25rem;
    margin-right: 20px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.26) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border: 2px solid var(--accent);
    transition: all .3s ease;
    display: flex;
    align-items: center;
}

.btn-hero  svg {
    stroke: var(--accentLight);
    height: 20px;
    margin-left: 10px;
    transition: all .3s ease;
}

.btn-hero:hover {
   background-color: var(--accentLight);
   color: var(--accent);
}

.btn-hero:hover svg{
   stroke: var(--accent);
}

.hero_btns_holder {
    display: flex;
}

/* ---------------- nav ------------------- */

nav{
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 10vh;
    padding: 0px 70px;
    position: absolute;
    transition: 0.4s;
    width: 100vw;
    z-index: 100;
    position: fixed;
    color: var(--accentLight);
    transition: all .3s ease;

}

.scrolled {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: var(--accent);
    color: var(--accentLight);
}

.scrolled-idk {
    background-color: var(--accent);
}


nav ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    margin-left: auto; /* dont fk with this one */
    color: inherit;

    
}

nav ul li{
    margin: 0 10px;
    position: relative;
    font-size: 1.2rem;
    transition: all .3s ease;
}

nav ul li::after{
    width: 0%;
    height: 2px;
    border-radius: 5px;
    background: var(--accentLight);
    position: absolute;
    left: 50%;
    top: 120%;
    content: "";
    transition: 0.4s;

}

.scrolled-idk li::after{
    background: #000;
}

nav ul li:hover:after{
    width: 100%;
    left: 0;
}

nav div{
    width: 20%;
}
nav img{
    max-width: 100%;
}

nav button{
    all: unset;
    cursor: pointer;
    position: absolute;
    top: 35px;
    right: 15px;
    display: none;
}

nav .ham{
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    border-radius: 10px;
    background: var(--accentLight);
}

/* ---------------- Product Card ------------------- */
.productCardCont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: 50px auto 70px auto;
    gap: 100px;
}


.productCard:before {
    position: absolute;
    content: "";
    height: 75px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--accent);
    z-index: 1;
 }

.productCard {

    width: 100%;
    margin: auto;
   height: 100%;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 5px;
    justify-content: space-between;
    background: white;
}

.productCard p{
    padding: 0 10px;
}


.productCard img{
  width: 150px;
  z-index: 2;
}

.details {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.details h4{
    font-weight: 900;
    font-size: 1.4rem;
}
.productCard p{
    margin: 10px 0 15px 0;
    color: rgb(116, 116, 116);
}

/* ---------------- Footer ------------------- */

footer  {
    background-color: var(--accent);
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: center;
    padding: 10px;
    color: white;
    font-weight: bold;
    gap: 150px;

    margin-top: 50px;

}

footer svg{
   fill: white;
   margin: 0px 20px;
   cursor: pointer;
   transition: all .3s ease;
   padding: 10px;
}

.yes{
    color: #000000;
}

.yes_scroll{
    color: #000000;
}

.yes svg{
    fill: #000000;
}

.icons {
    display: flex;
    height: 45px;
    cursor: pointer;
}

.icons:hover  svg {
   opacity: 0.25;
}

.icons svg:hover{
    opacity: 1;
 }

 /* ---------------- Infinite Slider  ------------------- */

 

 .slider_main_cont{
    background: white;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.25) -3px -6px 6px 1px inset;
 }

 .slider_cont{
    padding: 40px 0px;
 }
/* 
 .slider_h1{
     margin: 0%;
     padding: 100px 0 40px 0;
 } */


 .sliderHolder {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
 }

 .slider {
    display: flex;
    align-items: center;
    height: 50px;
    animation: scroll 35s linear infinite;

 }

 .slider img {
    height: 50px;
   margin: 0px 50px;
 }

 @keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


@media screen and (max-width: 600px) {
    
    /* ---------------- nav media ------------------- */

    nav{
        display: block;
        padding: 30px 0;
        height: 90px;
        overflow: hidden;
        background: var(--accent);
    }

    nav ul{
        display: block;
        margin: 0 auto;
    }

    nav div{
        width: 200px;
        margin: auto;
        margin-bottom: 50px;

    }
    nav ul li{
        width: fit-content;
        margin: 20px auto;
        position: relative;
    }
    nav button{
        display: block;
    }
    .nav_open{
        height: 360px;
    }

    /* ---------------- Footer media ------------------- */

    footer{
        flex-direction: column-reverse;
        gap: 0px;
    }

    footer svg {
       padding: 0px;
    }

    .icons {
        width: 80%;
        margin: 10px auto;
    }
    
}



/* ---------------- pages ------------------- */

.hero{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
    display: grid;
    align-items: center;
    padding: 0 70px ;
    z-index: 5;
}

.hero_big_text{
    font-size: 4rem;
    color: var(--accentLight);
}

.accent {
    color: var(--accent);
}

.img_cont_hero{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.hero img{
    position: absolute;
    object-fit: cover;

    width: 100%;

    height: 100vh;
    object-fit: cover;
    object-position: right;
}

.hero .hero_big_text, .hero section{
    z-index: 2;

}


/* ----------------- about us ----------------- */

.about_us{
    height: 65vh;
   width: 80%;
   margin: auto;
}

.about_cont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80vw;
    margin: auto;
    gap: 100px;
}

.about_img_cont img{
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.26) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.about_us .h1{
    margin: 0px auto 0px auto;
    padding: 80px 0 20px 0;
}
.about_text{
    height: fit-content;
    margin: auto 0;
    
}

.about_text p{
    margin: 0 0 50px 0;
}

.quote{
    height: 75vh;
    width: 80vw;
    display: grid;
    place-items: center;
    text-align: center;
    font-size: 2rem;
    margin: auto;

}

.quote > div {
    display: grid;
    gap: 50px;
}

.mr-x{
    color: gray;
}

/* ------form------- */

.form{
    width: 80%;
    display: flex;
    margin: auto;
    align-items: center;
    gap: 50px;
    height: 85vh;
}

.form iframe{
    width: 50%;   
    margin: auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.26) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

form {
    width: 50%;

}

.form .col input, .form textarea{
    width: 100%;
    margin-bottom: 20px;
    background: transparent;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid var(--accent);
    outline: none;
    transition: all .3s ease;
    caret-color: var(--accent);

}

.form .btn{
    margin: 10px 10% 10px 0%;
}

.individual_hero{
    display: grid;
    place-items: center;
    height: 50vh;
    margin-bottom: 50px;
}

.individual_hero p{
    position: relative;
    z-index: 10;
    color: var(--accentLight);
    text-align: center;
    margin: 50px 0px;
    font-weight: bolder;
    font-size: 2.5rem;
}

.individual_hero img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
}

dialog{
    width: 50vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    place-items: center;
    padding: 30px 40px;
    gap: 40px;
    border: none;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.96) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}
dialog::backdrop{
    background: rgb(0 0 0 / .6);
} 

.show{
    display: grid;
}

dialog img{
    position: relative;
    width: 100%;
    z-index: 2;
}

dialog .close{
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 2rem;
    cursor: pointer;
    color: var(--accent);
}

dialog .title{
    font-size: 1.7rem;
    text-transform: capitalize;
    color: var(--accent);
}

dialog p{
    margin: 10px 0;
}

dialog .desc{
    text-align: justify;
}

dialog .price{
    color: var(--accent);
}

dialog::after{
    position: absolute;
    background: var(--accent);
    left: 0;
    top: 0;
    width: 25%;
    height: 100%;
    content: "";
    z-index: 1;
}

.body-no-scroll{
    overflow:hidden;
}