---

layout: base.njk
nav_options: ['Home', 'Printing', 'Technology', 'Automation', 'Contact']
nav_links: ['/', '/Printing', '/Technology', '/Automation', '/#contact']

color: 'sea'
accent: 'seaBlue'

hero_img: 'about_us_img'


---

{% include "hero.njk" %}

<section class="about_us_main">
    <h1 class="h1">About Us</h1>
    <div class="about_cont">
        <div class='about_img_cont'>
            <img src="/assets/computer1_img.jpeg" alt="">
        </div>
        <div class='about_text'>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora quibusdam, aspernatur vitae nihil accusamus debitis quis. Eum vero deserunt maxime perspiciatis. Atque aut sed vitae error repellat. Impedit, inventore eius!
            </p>
           
        </div>
    </div>
</section>