---

title: Automation
page_title: Home
layout: 'base.njk'
nav_options: ['Home', 'Inventory', 'IDK', 'IDK', 'Contact']
nav_links: ['../', './Inventory', '/IDK', '/IDK', '../#contact']
root_dir: ['Automation/']

hero_img: 'automation_hero'
hero_text: ["Work", 'Smart', 'not', 'Hard']
hero_text_highlight: 'Smart'
hero_text_break: 'Official'

color: 'yellow'
accent: 'yellow'

productCardsImg: ['printer1', 'printer1', 'printer1']
product: ['Inventory', 'Change', 'Change']

slider: ['acer', 'dell', 'asus', 'lenovo', 'cannon']
slider_rows: ['one', 'two']

quoteText: 'Automation is good, so long as you know exactly where to put the machine'

black: 'yes'

---

{% include "hero.njk" %}

<h1 class="h1">Our Services</h1>
<div class='productCardCont'>

    {%- for i in productCardsImg -%}

        {% include "productCard.njk" %}

    {%- endfor %}

</div>


<h1 class="h1">Our Clients</h1>

<div class="slider_main_cont">


    {% include "slider.njk" %}

</div>

{% include "quotePage.njk" %}
