---
title: Computer 1
layout: 'base.njk'
nav_options: ['Printing', 'Technology', 'Automations', 'Contact']

hero_img: 'home_hero'
hero_text: ['Bringing', 'Tech', 'to', 'the', 'People']
hero_text_highlight: 'Tech'
hero_text_break: 'to'

color: 'pink'

---

{% include "hero.njk" %}