---
title: Printers
layout: 'base.njk'
nav_options: ['Home', 'Cannon', 'Color', 'Fax', 'Contact']

hero_img: 'printer_hero'
hero_text: ["Fiji's", 'Official', 'Cannon', 'Partner']
hero_text_highlight: 'Cannon'
hero_text_break: 'Official'

accent: 'pink'


---

{% include "hero.njk" %}
