---
title: Printers
layout: 'base.njk'
nav_options: ['Home', 'Cannon', 'Color', 'Banners', 'Contact']
nav_links: ['../', 'Cannon', 'Color', 'Banners', '../#contact']
root_dir: ['Printing/']

hero_img: 'printer_hero'
hero_text: ["Fiji's", 'Official', 'Cannon', 'Partner']
hero_text_highlight: 'Cannon'
hero_text_break: 'Official'

color: 'pink'
accent: 'pink'

productCardsImg: ['printer1', 'print_2', 'print_3']
product: ['Cannon', 'Color', 'Banners']

product_description: [
    "Create mesmerising designs with Canon printers.", 
    "Why stick to shades of grey?",
    "Create eye-catching banners effortlessly"
]

slider: ['acer', 'dell', 'asus', 'lenovo', 'cannon']
slider_rows: ['one', 'two']

quoteText: 'A printer consists of three main parts: the case, the jammed paper tray and the blinking red light'

---

{% include "hero.njk" %}

<h1 class="h1" id='productCard'>Our Services</h1>
<div class='productCardCont' >

    {%- for i in productCardsImg -%}

        {% include "productCard.njk" %}

    {%- endfor %}

</div>


<h1 class="h1">Our Clients</h1>

<div class="slider_main_cont">


    {% include "slider.njk" %}

</div>
{% include "quotePage.njk" %}